.etapa-numero{
    display: inline-grid;
    width: 2.5rem;
    height: 2.5rem;
    place-items: center;
    border-radius: 50%;
    background-color: #0d6efd;
    color: #fff;
    font-weight: 700;
}